<header class="header">
  <nav class="header__nav">
    <a routerLink="/" class="header__nav__home">Memory</a>

    <div *ngIf="account.user" class="header__nav__buttons">
      <button
        type="button"
        (click)="account.disconnect()"
        class="header__nav__button"
      >
        Disconnect
      </button>
    </div>

    <div *ngIf="!account.user" class="header__nav__buttons">
      <a routerLink="/register" class="header__nav__button">Register</a>
      <a routerLink="/login" class="header__nav__button">Login</a>
    </div>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
