<section class="register">
  <div *ngIf="error" class="register__error">
    <span class="register__error__message">{{ error }}</span>
    <button (click)="error = null" class="register__error__button">
      Clear
    </button>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()" class="register__form">
    <div class="register__form__group">
      <label for="email" class="register__form__label">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="register__form__input"
      />
    </div>

    <div class="register__form__group">
      <label for="password" class="register__form__label">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="register__form__input"
      />
    </div>

    <button type="submit" class="register__form__button">Register</button>
  </form>
</section>
